name: Test tap-shortcut

on:
  push:
    branches: [main]
    paths:
    - tap_shortcut/**
    - tests/**
    - pyproject.toml
    - uv.lock
    - .github/workflows/test.yml
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
    - tap_shortcut/**
    - tests/**
    - pyproject.toml
    - uv.lock
    - .github/workflows/test.yml
  schedule:
  - cron: "0 10 * * *"
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.9.28
  # renovate: datasource=pypi depName=tox
  TOX_VERSION: 4.32.0
  # renovate: datasource=pypi depName=tox-uv
  TOX_UV_VERSION: 1.29.0

jobs:
  tests:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        python-version:
        - "3.14"
        - "3.13"
        - "3.12"

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        version: ${{ env.UV_VERSION }}

    - name: Run
      env:
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
        TAP_SHORTCUT_TOKEN: ${{ secrets.TAP_SHORTCUT_TOKEN }}
      run: >
        uvx
        --with tox-uv==${{ env.TOX_UV_VERSION }}
        --with tox==${{ env.TOX_VERSION }}
        tox -e ${{ matrix.python-version }}

  lint:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      id: setup-python
    - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        version: ${{ env.UV_VERSION }}
    - env:
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
      run: uv tool install --with tox-uv==${{ env.TOX_UV_VERSION }} --from tox==${{ env.TOX_VERSION }} tox
    - name: Static type checking
      run: tox -e typing
    - name: Unused, missing and transitive dependencies
      run: tox -e dependencies
